nav {
    position: fixed;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    display: grid;
    grid-auto-flow: column;
    width: max-content;
    height: 5rem;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
  }
  
  nav > a,
  nav > .drop-down > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: inherit;
  }
  
  /* Add the rest of your styling here */
  